  body {
    margin: 0;
    background: lightgray;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
    /* background: rgb(231, 219, 221); */
    filter: drop-shadow(0 0 10px #ff3e60)
  }
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.2);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("../img/she/corousel/0.jpeg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("../img/she/corousel/1.jpeg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("../img/she/corousel/2.jpeg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("../img/she/corousel/11.jpeg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("../img/she/corousel/4.jpeg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("../img/she/corousel/9.jpeg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("../img/she/corousel/10.jpeg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("../img/she/corousel/7.jpeg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("../img/she/corousel/8.jpeg");
    transform: rotateY(320deg) translateZ(430px); }
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
  .text{
    font-size: 50px;
    color: #ff0505;
    font-weight: bolder;
    width: 600px;
    margin-left: -100px;
    margin-bottom: 50px;
    margin-top: -70px;
  }

  .span-text{
    margin-bottom: 0px;
    font-family: cursive;
    font-size: 20px;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:-470px;
    right:-430px;
    background-color:rgb(255, 0, 140);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    animation: blink 2s linear infinite;
  }
  
  @keyframes blink{
    0%{opacity: 0;}
    25%{opacity: .5;}
    50%{opacity: 1;}
    75%{opacity: .5;}
    100%{opacity: 0;}
    }