body {
  background-color: #ffceed;
  overflow: hidden;
}
@keyframes heartfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.heart {
  z-index: 999;
  animation: heartfade 6s linear;
  position: absolute;
}
.heart:before,
.heart:after {
  content: "";
  background-color: #fc2a62;
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
}

.heart:before {
  transform: rotate(45deg);
}

.heart:after {
  left: 10.5px;
  transform: rotate(135deg);
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: -25px;
  /* height: 19px; */
}

.sherni {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* width: 33%; */
  margin-top: -150px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

a {
	overflow: hidden;
	position: relative;
	display: inline-block;
  }
  
  a::before,
  a::after {
   content: '';
	position: absolute;
	width: 100%;
	left: 0;
  }
  a::before {
	background-color: #ff0062;
	height: 2px;
	bottom: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a::after {
	content: attr(data-replace);
	height: 100%;
	top: 0;
	transform-origin: 100% 50%;
	transform: translate3d(200%, 0, 0);
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
	color: #ff0062;
  }
  
  a:hover::before {
	transform-origin: 0% 50%;
	transform: scaleX(1);
  }
  a:hover::after {
	transform: translate3d(0, 0, 0);
  }
  
  a span {
	display: inline-block;
	transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a:hover span {
	transform: translate3d(-200%, 0, 0);
  }
  
  /* Presentational Styles */
  body {
	  display: grid;
	font-family: 'Poppins', sans-serif;
	font-size: 27px;
	  line-height: 1.5;
	height: 100vh;
	  place-items: center;
  }
  
  a {
	  text-decoration: none;
	  color: #18272F;
	  font-weight: 700;
	  vertical-align: top;
  }

  .hbd-banner{
	animation-name: slide-down;
	animation-duration: 1s;
  }

  @keyframes slide-down {
	from {
		margin-top: -400px;
	}
	to {
		margin-top: -35px;
	}
  }

  .balloon{
	animation-name: slide-up;
	animation-duration: 4s;
  }

  @keyframes slide-up {
	from {
		margin-top: 2000px;
	}
	to {
		margin-top: 0px;
	}
  }

  #player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height:40px;
    width: 40px;
    padding: 12px 18px;
    z-index: 2;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
      background-repeat: no-repeat!important;
      background-position: center;
      background-size: 16px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:20px;
    background-color: rgb(4, 231, 15);
    margin: 30px;
    animation: blink 2s linear infinite;
  }
  .play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  }
  .pause {
     background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
  }
  
  @keyframes blink{
    0%{opacity: 0;}
    25%{opacity: .5;}
    50%{opacity: 1;}
    75%{opacity: .5;}
    100%{opacity: 0;}
    }